body{
 font-family: 'Source Sans Pro', 
 sans-serif; 
 color: black;
    position: relative;
    }

  .container{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  
  .Frame{
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
  }
  